@import "tailwindcss";
@font-face {
  font-family: 'Roobert TRIAL';
  src: url('./assets/fonts/RoobertTRIAL.woff2') format('woff2'),
       url('./assets/fonts/RoobertTRIAL.woff') format('woff');
  font-weight: 300; /* Adjust if needed */
  font-style: normal;
}
html, body{
  overflow: hidden;
  height: 100%;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}